{% extends "base.html" %} {% block title %} MovieAI {% endblock %}

{% block content %}
<h1 class="text-4xl font-sans text-center py-6 gradient-text">WatchList</h1>

<div class="border-4 [border-image:linear-gradient(45deg,#00c6ff,#0072ff)_1] m-8 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-4 p-4 justify-center">
    {% for film in films %}
        <div class="border [border-image:linear-gradient(45deg,#00c6ff,#0072ff)_1] border-4 rounded-lg shadow-md p-4 hover:shadow-lg transition-shadow flex flex-col gap-4 w-full max-w-3xl mx-auto gradient-text">
            <div class="grid grid-cols-1 xl:grid-cols-2 gap-4">
                {% if film.5 %}
                    <div class="flex justify-center items-center w-full">
                        <img src="{{ film.5 }}" alt="{{ film.0 }} Poster" class="w-96 h-128 object-contain shadow-md">
                    </div>
                {% endif %}
                <div class="w-full {% if not film.5 %}xl:col-span-2{% endif %}">
                    <p class="text-lg font-medium flex justify-left mb-4 ml-4 mr-4">{{ film.0 }}</p>
                    <p class="text-lg font-medium flex justify-left mb-4 ml-4 mr-4">Genres: {{ film.1 }}</p>
                    <p class="text-lg font-medium flex justify-left mb-4 ml-4 mr-4">Director: {{ film.2 }}</p>
                    <p class="text-lg font-medium flex justify-left mb-4 ml-4 mr-4">Cast: {{ film.3 }}</p>
                    <p class="text-lg font-medium flex justify-left mb-4 ml-4 mr-4">Overview: {{ film.4 }}</p>
                </div>
            </div>
            <div>
                <form action="{% url 'remove-from-watchlist' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="film" value="{{ film }}">
                    <input type="hidden" name="movie" value="{{ movie }}">
                    <input type="hidden" name="numb" value="{{ numb }}">
                    <input type="hidden" name="list" value="{{ list }}">
                    <button class="w-full py-2 px-4 rounded-lg transition-colors btn-primary gradient-text">
                        Remove from WatchList
                    </button>
               
                </form>
            </div>
        </div>
    {% endfor %}
</div>
<div class="flex justify-left m-8">
    <form action="{% url 'home' %}" method="get">
        <button type="submit" class="py-2 px-6 rounded-lg transition-colors btn-primary gradient-text">
            Go to Home
        </button>
    </form>
</div>
{% endblock %}